/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: lightgrey;
}
.container {
  width: 90%;
  margin: auto;
}
.flexSpaceAround {
  display: flex;
  justify-content: space-between;
}
.button {
  margin: 25px auto;
  height: 35px;
  width: 125px;
  background: none;
  border: solid green 1px;
  font-size: 1.25rem;
  color: green;
  box-shadow: 0px 0px 10px;
}
@media (max-width: 500px) {
  .button {
    width: 100%;
    text-align: center;
  }
}
nav {
  width: 40%;
  margin: 15px 0px 15px auto;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
  }
}
.top-content {
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
.top-content img {
  width: 220px;
  margin: 50px auto 10px 50px;
}
.top-content h1 {
  font-size: 3rem;
  color: #999999;
  padding: 10px 50px;
}
.top-content p {
  color: #999999;
  padding: 10px 50px;
}
.top-content div {
  width: calc(100% - 100px);
  margin: 25px auto 50px;
  border-top: solid green 1px;
}
.top-content div p {
  padding: 25px 0px 50px;
}
.top-content div h4 {
  font-size: 1.5rem;
  color: #999999;
}
.top-content div button {
  margin: 25px auto;
  height: 35px;
  width: 125px;
  background: none;
  border: solid green 1px;
  font-size: 1.25rem;
  color: green;
  box-shadow: 0px 0px 10px;
}
@media (max-width: 500px) {
  .top-content div button {
    width: 100%;
    text-align: center;
  }
}
.middle-content {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
@media (max-width: 500px) {
  .middle-content {
    flex-direction: column;
  }
}
.middle-content section:first-child {
  width: 55%;
}
@media (max-width: 500px) {
  .middle-content section:first-child {
    width: 100%;
  }
}
.middle-content section:last-child {
  width: 40%;
}
@media (max-width: 500px) {
  .middle-content section:last-child {
    width: 100%;
    margin-top: 50px;
  }
}
.middle-content p {
  padding-top: 15px;
  line-height: 1.75rem;
}
.middle-content h3 {
  font-size: 2rem;
}
.middle-content h4 {
  font-size: 1.5rem;
}
.middle-content ul {
  margin: 25px auto;
}
.middle-content li {
  border-top: solid green 1px;
  padding: 10px;
}
.middle-content li:last-child {
  border-bottom: solid green 1px;
}
.bottom-content {
  width: 50%;
  margin: auto;
}
@media (max-width: 500px) {
  .bottom-content {
    width: 100%;
  }
}
.bottom-content h4 {
  font-size: 1.5rem;
}
.bottom-content table {
  width: 100%;
  margin: 25px 0px;
  text-align: center;
}
.bottom-content tr {
  border-top: solid green 1px;
  border-left: solid green 1px;
  border-right: solid green 1px;
  padding: 15px;
}
.bottom-content tr th {
  border-bottom: solid green 1px;
  font-size: 1.25rem;
  padding: 10px 0px;
  font-weight: bold;
}
.bottom-content tr th:first-child,
.bottom-content tr td:first-child {
  border-right: solid green 1px;
  width: 15%;
}
.bottom-content tr p {
  padding: 10px 0px;
  font-size: 1rem;
}
.bottom-content tr:last-child {
  border-bottom: solid green 1px;
}
footer {
  background-color: #333333;
  text-align: center;
}
footer p {
  color: #999999;
  padding: 25px;
}
.modal {
  position: absolute;
  z-index: 1000;
  background-color: lightGrey;
}
#share-options form {
  text-align: center;
}
#share-options form p {
  margin: 15px auto;
}
#share-options button {
  margin: 25px auto;
  height: 35px;
  width: 125px;
  background: none;
  border: solid green 1px;
  font-size: 1.25rem;
  color: green;
  box-shadow: 0px 0px 10px;
  margin: auto;
}
@media (max-width: 500px) {
  #share-options button {
    width: 100%;
    text-align: center;
  }
}
