// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: lightgrey;
}

@greybackground: #333333;
@greytext: #999999;
@h1: 3rem;
@h2: 2.5rem;
@h3: 2rem;
@h4: 1.5rem;
@h5: 1rem;

.container {
  width: 90%;
  margin: auto;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-between;
}

.button {
  margin: 25px auto;
  height: 35px;
  width: 125px;
  background: none;
  border: solid green 1px;
  font-size: 1.25rem;
  color: green;
  box-shadow: 0px 0px 10px;

  @media (max-width: 500px) {
    width: 100%;
    text-align: center;
  }
}

nav {
  width: 40%;
  margin: 15px 0px 15px auto;
  .flexSpaceAround;

  a {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.top-content {
  background-color: @greybackground;
  display: flex;
  flex-direction: column;

  img {
    width: 220px;
    margin: 50px auto 10px 50px;
  }

  h1 {
    font-size: @h1;
    color: @greytext;
    padding: 10px 50px;
  }

  p {
    color: @greytext;
    padding: 10px 50px;
  }

  div {
    width: calc(100% - 100px);
    margin: 25px auto 50px;
    border-top: solid green 1px;

    p {
      padding: 25px 0px 50px;
    }

    h4 {
      font-size: @h4;
      color: @greytext;
    }

    button {
      .button();
    }
  }
}

.middle-content {
  .flexSpaceAround;
  margin: 50px auto;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  section:first-child {
    width: 55%;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  section:last-child {
    width: 40%;

    @media (max-width: 500px) {
      width: 100%;
      margin-top: 50px;
    }
  }

  p {
    padding-top: 15px;
    line-height: 1.75rem;
  }

  h3 {
    font-size: @h3;
  }

  h4 {
    font-size: @h4;
  }

  ul {
    margin: 25px auto;
  }

  li {
    border-top: solid green 1px;
    padding: 10px;
  }

  li:last-child {
    border-bottom: solid green 1px;
  }
}

.bottom-content {
  width: 50%;
  margin: auto;

  @media (max-width: 500px) {
    width: 100%;
  }

  h4 {
    font-size: @h4;
  }

  table {
    width: 100%;
    margin: 25px 0px;
    text-align: center;
  }

  tr {
    border-top: solid green 1px;
    border-left: solid green 1px;
    border-right: solid green 1px;
    padding: 15px;

    th {
      border-bottom: solid green 1px;
      font-size: 1.25rem;
      padding: 10px 0px;
      font-weight: bold;
    }

    th:first-child,
    td:first-child {
      border-right: solid green 1px;
      width: 15%;
    }

    p {
      padding: 10px 0px;
      font-size: 1rem;
    }
  }

  tr:last-child {
    border-bottom: solid green 1px;
  }
}

footer {
  background-color: @greybackground;
  text-align: center;

  p {
    color: @greytext;
    padding: 25px;
  }
}

.modal {
  position: absolute;
  z-index: 1000;
  background-color: lightGrey;
}

#share-options {
  form {
    text-align: center;

    p {
      margin: 15px auto;
    }
  }
  button {
    .button();
    margin: auto;
  }
}
